@model List<Branche>

<a class="btn btn-primary text-white mb-5" asp-action="Add" asp-controller="Branches">ADD BRANCHE</a>
@{
    foreach (Branche branche in Model)
    {
    <ul class="list-group mb-3">
        <li class="list-group-item">
            <a class="btn btn-dark text-white" asp-action="Index" asp-controller="Stores" asp-route-id="@branche.Id">GO TO STORES!</a>
            <a class="btn btn-warning text-white" asp-action="Edit" asp-controller="Branches" asp-route-id="@branche.Id">EDIT</a>
            <a class="btn btn-danger text-white" asp-action="Delete" asp-controller="Branches" asp-route-id="@branche.Id">DELETE</a>
        </li>
        <li class="list-group-item">city: @branche.Name</li>
        <li class="list-group-item">Manager Name: @branche.ManagerName</li>
    </ul>
    }


}